export ACCESS_TOKEN_SECRET=oneuthateuhathoeuthuaonehntoauhaeuheae
export REFRESH_TOKEN_SECRET=zzaneuthaonueheaouhnaoehunstasenuthanu

export TWITTER_API_KEY=ntauhnaehuntaeeuntehnatu
export TWITTER_SECRET_KEY=taeounaheunaoehutaheueteee
export TWITTER_BEARER_TOKEN=naoeuhetuhnau

export DISCORD_CLIENT_ID=ntahunhaoneuhtohauehonu
export DISCORD_CLIENT_SECRET=aoneunthaehouh

export GOOGLE_CLIENT_ID=1022380030031-7ttj98r440qo8amanjpssv8r4pdk2heq.apps.googleusercontent.com
export GOOGLE_CLIENT_SECRET=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
