export ACCESS_TOKEN_SECRET=oneuthateuhathoeuthuaonehntoauhaeuheae
export REFRESH_TOKEN_SECRET=zzaneuthaonueheaouhnaoehunstasenuthanu

export TWITTER_API_KEY=zAzhaCUlZSmzOxLNirD63g4D0
export TWITTER_SECRET_KEY=6UTIrg80iQbVHXP7JUbVq84sVqye6TShn70ad11jQuVk2wTpZP
export TWITTER_BEARER_TOKEN=AAAAAAAAAAAAAAAAAAAAAD4tfQEAAAAAh8bUZXRtP4Ln2%2BVQ3RxkdwG9FQQ%3DXeiAYeJLkEBaALASCKRTpobOA3G9Ny9s7xuyXklQy8qIGzlfNY

export DISCORD_CLIENT_ID=ntahunhaoneuhtohauehonu
export DISCORD_CLIENT_SECRET=aoneunthaehouh

export GOOGLE_CLIENT_ID=1022380030031-7ttj98r440qo8amanjpssv8r4pdk2heq.apps.googleusercontent.com
export GOOGLE_CLIENT_SECRET=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
